<!DOCTYPE html>
<html>
	<head>
		<title><%=titulo%></title>
		<link rel="stylesheet" type="text/css" href="css/estilo.css">
	</head>
	<body>
		<h1><%=titulo%></h1>
		<img src="img/firefox.png">
		<footer>Acessos: <%=contador%> em <%=acesso%></footer>
	</body>
</html>